# Snippet for creating new generic LaTeX environments
snippet env "New LaTeX environment" b
\begin{$1}
    $2
\end{$1}
$0
endsnippet

snippet fig "figure encitoment"
\begin{figure}[htb!]
		\centering
		\includegraphics[width=\linewidth]{$1}
		\caption{$2}
		\labe{$3}
	\end{figure}
$0
endsnippet
